<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121540222713-09en5ccqc5vmt7kihvqbd9bkem02pjsi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121540222713-09en5ccqc5vmt7kihvqbd9bkem02pjsi</string>
	<key>API_KEY</key>
	<string>AIzaSyCYgq1o__QIbuiOk0X7tpNWQ3V38CTHroY</string>
	<key>GCM_SENDER_ID</key>
	<string>121540222713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eu.long1.instagramCloneGad</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-gad</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-gad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121540222713:ios:d0faf5035b6af776988c28</string>
</dict>
</plist>